.hero-section {
  background-image: url('/src/assets/cloth.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  color: white;
  font-size: 2.8rem;
  font-weight: bold;
  z-index: 2;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.selected-list-wrapper {
  padding: 2rem 1rem;
  background: #eaf1f8;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.horizontal-card-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 900px;
}

/* CARD STYLE */
.minimal-card {
  background-color: white;
  border-radius: 12px;
  display: flex;
  padding: 1.5rem;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  min-height: 160px;
}

/* IMAGE */
.minimal-card-image {
  width: 230px;
  height: 150px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

/* TEXT CONTENT */
.minimal-card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left:2.5rem;
  color: #333;
}

.minimal-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minimal-card-header h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0;
}

.minimal-price {
  font-size: 1.4rem;
  font-weight: bold;
  color: #222;
}

.minimal-location {
  font-size: 1.05rem;
  margin: 0.5rem 0 1rem;
  color: #666;
}

/* BUTTON */
.minimal-order-btn {
  padding: 0.5rem 1.2rem;
  background: #210649;;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  align-self: flex-end;
  transition: background 0.3s;
  font-size: 0.95rem;
}

.minimal-order-btn:hover {
  background: #134b84;
}

/* SHOW MORE BUTTON */
.show-more-wrapper {
  margin-top: 2rem;
  text-align: center;
}

.show-more-btn {
  padding: 0.6rem 1.5rem;
  background: #471396;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
}

.show-more-btn:hover {
  background:#5e2ca9;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .minimal-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .minimal-card-content {
    margin-left: 0;
    margin-top: 1rem;
    align-items: center;
  }

  .minimal-card-header {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .minimal-order-btn {
    align-self: center;
  }
}
