

.admin-sidebar {
  width: 240px;
  background-color: #007bff;
  color: white;
  padding: 20px;
  height: 100vh;
  box-sizing: border-box;
  flex-shrink: 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-content {
  flex-grow: 1;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.admin-info {
  margin-bottom: 20px;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btn {
  background: #0056b3;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
  border-radius: 6px;
}
