

.admin-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background: white;
  border-bottom: 1px solid #ddd;
}

.admin-profile span {
  background: #f1f1f1;
  padding: 6px 12px;
  border-radius: 8px;
}
