
.customer-dashboard {
  padding: 20px;
  color: #333;
}

.dashboard-layout {
  display: flex;
}

.dashboard-content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

.dashboard-body {
  display: flex;
  gap: 20px;
  margin-top: 30px; 
}
